body{
    background: #f2f2f2;

}
.mainDiv{
    width:80%;
    height: px;
    margin:0 auto;
    background: white;
    padding: 0;
}

.header{
    width:100%;
    height: 150px;
    border-bottom: 1px solid #f2f2f2;
}

.logo{
    width:30%;
    height: 100%;
    float: left;
    border-right: 1px solid #333
}

.headerRight{
    width:69%;
    height: 100%;
    float: left;
}

.menu{
    width:100%;
    height: 60px;
    background: #333
}
.menu ul {
    padding: 0;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}

.menu ul li{
    float: left;
    display: inline-block;
    list-style: none;
    padding: 16px 15px;
    border: 1px solid #f2f2f2;
    margin: 3px 2px;
}

.menu ul li:hover{
    opacity:0.6;
    font-size: 18px;
}

.menu ul li a{
    text-decoration: none;
    color:white;
}
.content{
    width: 100%;
    height: px;

}

.footer{
    width:100%;
    height:80px;
    background: #333;
}

.content dl{
    margin: 0;
    padding: 26px 80px; 
}

.content dl dt{
padding: 20px 10px;
}

.content dl dd{
    text-align: justify;
    background: #f2f2f2;
    padding:15px;
}

.content dl dd p{

}